country-identity-kit/dist/
country-identity-kit/node_modules/

pcd-country-identity/dist/
pcd-country-identity/node_modules/
pcd-country-identity/yarn-error.log
pcd-country-identity/build
pcd-country-identity/.hiden
pcd-country-identity/src/meta
pcd-country-identity/artifacts
pcd-country-identity/.vscode

node_modules