name: packages testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          override: false
      
      - name: Setup Node
        uses: actions/setup-node@v2-beta
        with:
          node-version: "18"
          cache: "yarn"
      - name: Check Yarn version
        run: yarn --version
      - name: Check Node version
        run: node --version
      - name: Install dependencies
        run: yarn install
      - name: Execute lint
        run: yarn lint
      - name: Setup 
        run: ./script/setup-dev.sh
      - name: Build packages
        run: yarn build
      - name: Test packages 
        run: yarn test
    