name: packages testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2-beta
        with:
          node-version: '18'
          cache: 'yarn'
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Check Yarn version
        run: yarn --version
      - name: Check Node version
        run: node --version
      - name: Install dependencies
        run: yarn install
      - name: Execute lint
        run: yarn lint

      - name: Cache power of tau
        id: powersOfTau28_hez_final_20
        uses: actions/cache@v3
        with:
          path: build/powersOfTau28_hez_final_20.ptau
          key: powersOfTau28_hez_final_20.ptau
      - name: Cache Circom
        id: Circom
        uses: actions/cache@v3
        with:
          path: ~/.cargo/bin/circom
          key: circom

      - name: Download power of tau and install Circom
        run: yarn dev-install

      - name: Get Circuit Hash
        id: get-circuit-hash
        run: |
          echo "circuit_hash=`cd circom-rsa-verify && git rev-parse HEAD && cd ..`" >> $GITHUB_OUTPUT
        shell: bash

      - name: Cache proving/verify key
        id: zkkeys
        uses: actions/cache@v3
        with:
          path: build/circuit
          key: ${{ steps.get-circuit-hash.outputs.circuit_hash }}

      - name: 'Dev trusted setup'
        run: 'yarn dev-setup'

      - name: Set up environment
        run: |
          echo "WASM_URL=https://d3dxq5smiosdl4.cloudfront.net/rsa_verify_sha1_pkcs1v15.wasm" >> .env
          echo "ZKEY_URL=https://d3dxq5smiosdl4.cloudfront.net/circuit_final.zkey" >> .env

      - name: Build packages
        run: yarn build
      - name: Test packages
        run: yarn test
